* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Rubik Microbe', cursive;
    font-size: 30px;
    line-height: 35px;
}

h3 {
    margin: 20px 0;
    font-size: 20px;
    line-height: 25px;
}

main {
    height: 60vh;
}

h4 {
    margin: 20px 0;
    font-size: 20px;
    line-height: 25px;
    font-style: italic;
}

.grid {
    border: 1px solid red;
    height: 242px;
    width: 282px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.grid div {
    height: 40px;
    width: 40px;
}

.player-one {
    background-color: red;
    border-radius: 10px;
}

.player-two {
    background-color: rgb(16, 238, 134);
    border-radius: 10px;
}

button {
    padding: 15px 20px;
    border: none;
    font-size: 20px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    outline: none;
    position: relative;
    background-color: red;
    color: white;
}

button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border: 2px solid red;
}

button:hover::before, button:focus::before {
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
  }

footer a {
    display: inline-flex;
    text-decoration: none;
    color: #f1a86d;
    transition: all 200ms ease-in-out;
}

footer a:hover {
    color: #f08126;
    transform: translateY(-5px);
    
}

.red {
    color: red;
}

.green {
    color: rgb(16, 238, 134);
}

