* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.grid {
    border: 1px solid red;
    height: 242px;
    width: 282px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.grid div {
    height: 40px;
    width: 40px;
    background-color: bisque;
}

.player-one {
    background-color: red;
    border-radius: 10px;
}

.player-two {
    background-color: rgb(16, 238, 134);
    border-radius: 10px;
}